.hero {
  width: 100%;
}

.left {
  h2 {
    margin-top: 80px;
    font-size: 39px;
  }
}
.right {
  .hero {
    width: 100%;
    margin-top: 80px;
  }
}
Form {
  display: flex;
  justify-content: flex-start;
  .email {
    height: 3rem;
    width: 350px;
    padding-left: 20px;
  }
  button {
    margin-left: 20px;
    padding: 5px 30px;
    background-color: blue;
    width: 250px;
    height: 3rem;
    color: white;
    border-radius: 5px;
  }
}
